<!DOCTYPE html>
<head>
	<title>Классификатор отзывов</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	<div class="bg-contact100" style="background-image: url('{{ url_for('static',filename='images/bg-01.jpg') }}');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<form class="contact100-form validate-form" action="{{ url_for('index') }}" method=post>
					<span class="contact100-form-title">
						Классификатор отзывов
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Введите отзыв">
						<textarea name=text class="input100" placeholder="Отзыв">{{ text }}</textarea>
						<span class="focus-input100"></span>
					</div>

					<span class="contact100-form-title">
					Тональность отзыва: {{ prediction_message }}
					</span>

					<div class="container-contact100-form-btn">
						<input type="submit" class="contact100-form-btn" value="Проверить">
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
